[Alpha v19.4] Authentication Fails for Some MCP Clients Due to Mismatched OAuth Issuer Values

### Description

When using the new MCP server features released with v19.4 Alpha, authentication fails for some MCP clients due to mismatched OAuth issuer values.

The OAuth 2.0 Authorization Server metadata endpoint (`/.well-known/oauth-authorization-server`) emits the issuer value with no trailing slash, such as:

```
{
  "issuer": "https://myserver.example.com",
   ...
}
```

The Protected Resource Metadata endpoint (`/.well-known/oauth-protected-resource/*`) emits the server value in the authorization servers array with a trailing slash, ie:

```
{
  ...
  "authorization_servers": [
    "https://myserver.example.com/"
  ],
  ...
}
```

Some MCP clients (such as GitHub Copilot CLI v1.0.79) will detect this mismatch, and, citing RFC 8414 section 3.3, refuse to connect. Other clients (such as Claude Desktop) do not enforce this requirement strictly, and will proceed with authentication.

The fix looks to be a change to make the OAuth registration middleware more consistent. The Authorization Server Metadata response is [explicitly removing the trailing forward slash from the host URI value](https://github.com/SparkDevNetwork/Rock/blob/816bb398d428d015f97b10ab8ca07e71417926ef/Rock.Oidc/DynamicRegistrationMiddleware.cs#L107), while the Protected Resource Metadata endpoint [is not](https://github.com/SparkDevNetwork/Rock/blob/816bb398d428d015f97b10ab8ca07e71417926ef/Rock.Oidc/DynamicRegistrationMiddleware.cs#L97).



### Actual Behavior

Some clients fail to connect to the MCP server citing issuer mismatch per RFC 8414 section 3.3.

<img width="849" height="160" alt="Image" src="https://github.com/user-attachments/assets/abd039cf-ef01-4c1d-8f4d-29a8f34d9bf2" />

### Expected Behavior

Issuer values match so that authentication can proceed even with MCP clients enforcing the more stringent checks.

### Steps to Reproduce

1. Configure an MCP server using the new Rock AI features and any selection of tools, configuring an agent of type MCP.
2. Attempt to connect using Github Copilot CLI, or another tool that enforces the strict RFC 8414 check.
3. Receive an error message.


### Issue Confirmation

- [x] Perform a search on the [Github Issues](https://github.com/search?q=repo%3ASparkDevNetwork%2FRock&type=issues) to see if your bug is already reported.
- [x] Reproduced the problem on a fresh install or on the [demo site](https://rock.rocksolidchurchdemo.com/).

### Rock Version

v19.4

### Client Culture Setting

en-US